<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .header {
            display: flex;
            justify-content: left;
            align-items: normal;
            background-color: #0ca332;
        }
    </style>
    <title>index</title>
</head>

<body>
    <div class="header">
        {% if name %}
        <h1>Hi I'm {{name}} and WelCome to my Django Project.</h1>
        {% else %}
        <h1>WelCome to my Django Project</h1>
        {% endif %}
    </div>
</body>

</html>