<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <main class="container">
        <div class="logo">
            <a href="#">
                <img class="logo-icon" src="../../static/media/image/book_icon@1x.png" alt="book_icon">

            </a>
            <h2 class="logo-text">Book Site</h2>
        </div>
        <form class="login-form" action="/postsign/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="login" value="login a user">
            {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            <div>
                <label class="label-email" for="email">Email</label>
                <input class="input-email" type="email" name="email" id="email">
            </div>
            <div>
                <label class="label-password" for="password">Password</label>
                <input class="input-password" type="password" name="password" id="password">
            </div>
            <div class="form-submit">
                <button class="btn-submit" type="submit">Login</button>
                <span class="or">OR</span>
                <span><a class="link-signup" href="/register/">Signup</a></span>
            </div>
        </form>
    </main>

</body>

</html>