{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="../../static/css/style.css"> -->
</head>

<body>
    <main>
        <form action="/postsign/" method="POST" autocomplete="off">
            {% csrf_token %}
            <div>
                <h4>Book Site</h4>
                <h4>Signup</h4>
            </div>
            {% if messages %}
            {% for message in messages %}
            <p class="{% if message.level == 25 %}{% endif %} {% if message.level != 25 %}{% endif %}">
                {{message}}</p>
            {% endfor %}
            {% endif %}
            <div>
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                    <input type="hidden" name="register_user" value="Register a user">
                </div>
                <div>
                    <label for="username">UserName</label>
                    <input type="text" name="username" id="username">
                </div>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div>
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password">
                </div>
            </div>
            <button type="submit">Signup</button>
            <p>Or</p>
            <a href="/login/">login</a>
        </form>
    </main>

</body>

</html>